{% extends 'base.html'%}

{% load static %}
{% block advertising %}
<div class="col-xs-12 hidden-xs">
	<div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 186px;"><div class="slider" style="width: 1215%; position: relative; transition-duration: 0s; transform: translate3d(-5082px, 0px, 0px);"><div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/2547c452e34c3cd99a8b5da30653c0b7.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<a href="http://www.parma-kelme.ru/shop/item/1703"><img src="{% static 'img/bc1a691a3e21e61a393b0442f1a2d4bf.jpg' %}" alt="" class="img-responsive center-block"></a>
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/6e4fdf793b8617f2e93d9b35cf97a6d6.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/1d0b6c4718509682787065e8b232da44.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/d0bbaa0b691e18c1af3b7eaa7a66d29a.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<a href="http://www.parma-kelme.ru/shop/category/21#?filter=1&amp;brand=MIKASA"><img src="{% static 'img/b0eb3dc2cc61f99011e533bb26ba0359.jpg' %}" alt="" class="img-responsive center-block"></a>
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<a href="http://www.parma-kelme.ru/shop/category/17#?filter=1&amp;brand=ERREA"><img src="{% static 'img/d09a1f1fe55990bb77240664998c24e4.jpg' %}" alt="" class="img-responsive center-block"></a>
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<a href="http://www.parma-kelme.ru/shop/category/20#?filter=1&amp;brand=LOTTO"><img src="{% static 'img/e6c3d6d6db19ef5ab38ee8e6ae25ba2f.jpg' %}" alt="" class="img-responsive center-block"></a>
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/a94e27f42191341932333a7a6ede3769.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/3a437835666eec0cb082d790644eb2ab.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide" style="float: left; list-style: none; position: relative; width: 847px;">
		<img src="{% static 'img/2547c452e34c3cd99a8b5da30653c0b7.jpg' %}" alt="" class="img-responsive center-block">
	</div>
	<div class="slide bx-clone" style="float: left; list-style: none; position: relative; width: 847px;">
		<a href="http://www.parma-kelme.ru/shop/item/1703"><img src="{% static 'img/bc1a691a3e21e61a393b0442f1a2d4bf.jpg' %}" alt="" class="img-responsive center-block"></a>
	</div></div></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="https://www.parma-kelme.ru/shop/category/18">Prev</a><a class="bx-next" href="https://www.parma-kelme.ru/shop/category/18">Next</a></div></div></div>
	<script>
		$('.slider').bxSlider({
			auto: true,
			pager: false,
		});
	</script>
</div>
{% endblock %}


{% block content%}
<ol class="breadcrumb">
	<li><a href="https://www.parma-kelme.ru/">Главная</a></li><li class="active">{{category.name_category}}</li></ol><!-- breadcrumbs -->
	<h1>
	{{category.name_category}}</h1>
	<p>Клубная форма <a href="https://www.parma-kelme.ru/shop/brand/errea" target="_blank">ERREA</a>. Волейбольная майка и толстовка ВК "Кузбасс" - Толстовка и куртка ATLANT -Футболки DINAMO KRASNODAR - Игровая форма STROGINO - Футболка и гетры TOBOL - Футболка GORNYAK - Футболка и шорты SIBIR</p>

	<script src="./Клубная форма - KLM-SPORT_files/isotope.pkgd.min.js.Без названия"></script>
	<script>
		function get_brands(){
			var result = new Array;
			$('.productcard[data-brand]').each(function(index, el) {
				var brand = $(this).data('brand');
				if($.inArray(brand, result) === -1) result.push(brand);
			});
			return result.sort();
		}
		function get_sizes(){
			var result = new Array;
			$('.productcard[data-sizes]').each(function(index, el) {
				var sizes = $(this).data('sizes');
				$.each(sizes, function(i, size) {
					if($.inArray(size, result) === -1) result.push(size);
				});
			});
			return result.sort();
		}

		function getParameterByName(name, url) {
			if (!url) {
				url = window.location.hash;
			}
			name = name.replace(/[\[\]]/g, "\\$&");
			var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			results = regex.exec(url);
			if (!results) return null;
			if (!results[2]) return '';
			return decodeURIComponent(results[2].replace(/\+/g, " "));
		}
		jQuery(document).ready(function($) {
			var sizes = get_sizes();
			var brands = get_brands();

			$.each(sizes, function(index, val) { $('<option value="'+val+'">'+val+'</option>').appendTo('.filter_by_size'); });
			$.each(brands, function(index, val) { $('<option value="'+val+'">'+val+'</option>').appendTo('.filter_by_brand'); });

			var $grid = $('.products_list').isotope({});
			$grid.isotope('on', 'layoutComplete', function(visible) {
				$('.alert-filterempty').remove();
				if(visible.length == 0){
					$('.filters').after('<div class="alert alert-danger alert-filterempty" role="alert">Не могу найти ни одного товара по данному поисковому запросу</div>');
				}

        // var sizes = new Array;
        // $('.filter_by_size option').prop('disabled', true);
        // $.each(visible, function(index, val) {
        //     $.each($(val.element).data('sizes'), function(index2, size) {
        //         if($.inArray(size, sizes) === -1) sizes.push(size);
        //         $('.filter_by_size option[value="'+size+'"]').prop('disabled', false);
        //     });
        // });
        // console.log(sizes);

    });

			$('.filter-control').on('change', function(event) {
        // console.log('Фильтр активен');
        var brand = $('.filter_by_brand').val();
        var size  = $('.filter_by_size').val();
        // console.log('brand', brand);
        // console.log('size', size);

        if(brand != '' && size == ''){
            // фильтруем по бренду
            history.pushState(null, null, window.location.pathname + window.location.search + '#?filter=1&brand='+brand);
            $grid.isotope({
            	filter: function() {
            		return (brand == $(this).data('brand')) ? true : false;
            	}
            });
        }else if(brand == '' && size != ''){
            // фильтруем по размеру
            history.pushState(null, null, window.location.pathname + window.location.search + '#?filter=1&size='+size);
            $grid.isotope({
            	filter: function() {
            		return ($.inArray(size, $(this).data('sizes')) !== -1) ? true : false;
            	}
            });
        }else if(brand != '' && size != ''){
            // фильтруем по бренду и размеру
            history.pushState(null, null, window.location.pathname + window.location.search + '#?filter=1&brand='+brand+'&size='+size);
            $grid.isotope({
            	filter: function() {
            		return (brand == $(this).data('brand') && $.inArray(size, $(this).data('sizes')) !== -1) ? true : false;
            	}
            });
        }else{
        	history.pushState(null, null, window.location.pathname + window.location.search);
        	$grid.isotope({
        		filter: function() {
        			return true;
        		}
        	});
        }

    });

			if(getParameterByName('filter') == 1){
				$('.filter_by_brand').val(function(){
					return getParameterByName('brand');
				});
				$('.filter_by_size').val(function(){
					return getParameterByName('size');
				})
				$('.filter_by_brand, .filter_by_size').trigger('change');
			}
		});
	</script>

	<div class="filters well form-horizontal">
		<div class="row">
			<label class="col-sm-2 control-label">Бренды:</label>
			<div class="col-sm-4"><select class="form-control filter-control filter_by_brand"><option value="">[показывать все]</option><option value=""></option><option value="ERREA">ERREA</option></select></div>
			<label class="col-sm-2 control-label">Размеры:</label>
			<div class="col-sm-4"><select class="form-control filter-control filter_by_size"><option value="">[показывать все]</option><option value="L">L</option><option value="M">M</option><option value="M (6)">M (6)</option><option value="S">S</option><option value="S (4)">S (4)</option><option value="XS">XS</option><option value="XXL">XXL</option><option value="XXXL">XXXL</option><option value="XXXXL">XXXXL</option><option value="М">М</option></select></div>
		</div>
	</div>
	<div class="row products_list" style="position: relative; height: 900px;">
		{% for item in items%}
			{% include 'SPORT/includes/item_card.html'%}
		{% endfor %}
		<!-- <a href="https://www.parma-kelme.ru/shop/item/2175" class="col-xs-6 col-md-3 col-sm-6 productcard" title="Errea поло SIBIR " data-categories="[]" data-brand="ERREA" data-sizes="[&quot;S&quot;,&quot;XXL&quot;,&quot;XXXL&quot;,&quot;XXXXL&quot;]" style="position: absolute; left: 0px; top: 0px;">
			<div class="productcard__panel" style="">
				<div class="productcard__image" style="">
					<img src="./Клубная форма - KLM-SPORT_files/1472483049_6080b150e5098e067e2b63c48ea5a139.jpg" alt="Errea поло SIBIR ">        </div>
					<div class="productcard__caption">
					Errea поло SIBIR         </div>
					<div class="item-price-container">
						<span class="productcard__caption__articul">SIB373</span>
		
						<del class="old-price">1&nbsp;400&nbsp;руб</del>
						<span class="item-price">750&nbsp;руб</span>
		
					</div>
				</div>
			</a>
			<a href="https://www.parma-kelme.ru/shop/item/2845" class="col-xs-6 col-md-3 col-sm-6 productcard" title="Errea Толстовка  ХК &quot;ATLANT&quot;  13/14 " data-categories="[]" data-brand="ERREA" data-sizes="[&quot;S&quot;,&quot;XXXL&quot;,&quot;XXXXL&quot;]" style="position: absolute; left: 219px; top: 0px;">
				<div class="productcard__panel" style="">
					<div class="productcard__image" style="">
						<img src="./Клубная форма - KLM-SPORT_files/1459948345_605294aca7c778c0211bfeec47d4cbd4.jpg" alt="Errea Толстовка  ХК " atlant"="" 13="" 14="" "="">        </div>
						<div class="productcard__caption">
						Errea Толстовка  ХК "ATLANT"  13/14         </div>
						<div class="item-price-container">
							<span class="productcard__caption__articul">PG0D3Z</span>
			
							<del class="old-price">2&nbsp;800&nbsp;руб</del>
							<span class="item-price">1&nbsp;500&nbsp;руб</span>
			
						</div>
					</div>
				</a> 
		 				<a href="https://www.parma-kelme.ru/shop/item/25677" class="col-xs-6 col-md-3 col-sm-6 productcard" title="ADIDAS Футболка тренировочная" data-categories="[]" data-brand="" data-sizes="[&quot;XS&quot;]" style="position: absolute; left: 438px; top: 0px;">
			<div class="productcard__panel" style="">
		<div class="productcard__image" style="">
			<img src="./Клубная форма - KLM-SPORT_files/1490277751_367fc92c98c60284a0ac170c7f5a869a.jpg" alt="ADIDAS Футболка тренировочная">        </div>
			<div class="productcard__caption">
			ADIDAS Футболка тренировочная        </div>
			<div class="item-price-container">
				<span class="productcard__caption__articul">G89081</span>
		
				<del class="old-price">1&nbsp;690&nbsp;руб</del>
				<span class="item-price">1&nbsp;300&nbsp;руб</span>
		
				<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;1&nbsp;250&nbsp;руб</span>
			</div>
		</div>
			</a>
			<a href="https://www.parma-kelme.ru/shop/item/25693" class="col-xs-6 col-md-3 col-sm-6 productcard" title="ADIDAS Поло" data-categories="[]" data-brand="" data-sizes="[&quot;S&quot;]" style="position: absolute; left: 658px; top: 0px;">
		<div class="productcard__panel" style="">
			<div class="productcard__image" style="">
				<img src="./Клубная форма - KLM-SPORT_files/1467808872_23b2221438cce84adf6445db0ab0baf0.jpg" alt="ADIDAS Поло">        </div>
				<div class="productcard__caption">
				ADIDAS Поло        </div>
				<div class="item-price-container">
					<span class="productcard__caption__articul">G89092</span>
		
					<del class="old-price">1&nbsp;690&nbsp;руб</del>
					<span class="item-price">1&nbsp;300&nbsp;руб</span>
		
					<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;1&nbsp;300&nbsp;руб</span>
				</div>
			</div>
		</a>
		<a href="https://www.parma-kelme.ru/shop/item/25679" class="col-xs-6 col-md-3 col-sm-6 productcard" title="ADIDAS Футболка х/б Россия" data-categories="[]" data-brand="" data-sizes="[&quot;S&quot;,&quot;XS&quot;]" style="position: absolute; left: 0px; top: 300px;">
			<div class="productcard__panel" style="">
				<div class="productcard__image" style="">
					<img src="./Клубная форма - KLM-SPORT_files/1470832130_71a1dfb7e9b4a2bbee3c7e00c764bb77.jpg" alt="ADIDAS Футболка х/б Россия">        </div>
					<div class="productcard__caption">
					ADIDAS Футболка х/б Россия        </div>
					<div class="item-price-container">
						<span class="productcard__caption__articul">G89097</span>
		
						<del class="old-price">2&nbsp;550&nbsp;руб</del>
						<span class="item-price">895&nbsp;руб</span>
		
						<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;2&nbsp;100&nbsp;руб</span>
					</div>
				</div>
			</a>
			<a href="https://www.parma-kelme.ru/shop/item/2612" class="col-xs-6 col-md-3 col-sm-6 productcard" title="Errea футболка игровая  к/р + шорты  PARMA  MAGLIA " data-categories="[]" data-brand="ERREA" data-sizes="[&quot;M&quot;]" style="position: absolute; left: 219px; top: 300px;">
				<div class="productcard__panel" style="">
					<div class="productcard__image" style="">
						<img src="./Клубная форма - KLM-SPORT_files/1522232064_c430322f188b7f3b947a7e3e18be3195.jpg" alt="Errea футболка игровая  к/р + шорты  PARMA  MAGLIA ">        </div>
						<div class="productcard__caption">
						Errea футболка игровая  к/р + шорты  PARMA  MAGLIA         </div>
						<div class="item-price-container">
							<span class="productcard__caption__articul">PRF203</span>
		
							<span class="item-price">3&nbsp;100&nbsp;руб</span>
		
						</div>
					</div>
				</a>
				<a href="https://www.parma-kelme.ru/shop/item/2592" class="col-xs-6 col-md-3 col-sm-6 productcard" title="Errea гетры футбольные TOBOL TRANSPIR " data-categories="[]" data-brand="ERREA" data-sizes="[&quot;М&quot;]" style="position: absolute; left: 438px; top: 300px;">
					<div class="productcard__panel" style="">
						<div class="productcard__image" style="">
							<img src="./Клубная форма - KLM-SPORT_files/1493287451_432292ec68eb572f266c51a4de013129.jpg" alt="Errea гетры футбольные TOBOL TRANSPIR ">        </div>
							<div class="productcard__caption">
							Errea гетры футбольные TOBOL TRANSPIR         </div>
							<div class="item-price-container">
								<span class="productcard__caption__articul">TOB406</span>
		
								<span class="item-price">480&nbsp;руб</span>
		
								<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;280&nbsp;руб</span>
							</div>
						</div>
					</a>
					<a href="https://www.parma-kelme.ru/shop/item/25702" class="col-xs-6 col-md-3 col-sm-6 productcard" title="ADIDAS Футболка игровая  д/р" data-categories="[]" data-brand="" data-sizes="[&quot;M (6)&quot;,&quot;S (4)&quot;]" style="position: absolute; left: 658px; top: 300px;">
						<div class="productcard__panel" style="">
							<div class="productcard__image" style="">
								<img src="./Клубная форма - KLM-SPORT_files/1490277637_7fbf3a7fcb55a38b2bd512408d9db2ea.jpg" alt="ADIDAS Футболка игровая  д/р">        </div>
								<div class="productcard__caption">
								ADIDAS Футболка игровая  д/р        </div>
								<div class="item-price-container">
									<span class="productcard__caption__articul">G74476</span>
		
									<del class="old-price">5&nbsp;080&nbsp;руб</del>
									<span class="item-price">2&nbsp;000&nbsp;руб</span>
		
									<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;3&nbsp;700&nbsp;руб</span>
								</div>
							</div>
						</a>
						<a href="https://www.parma-kelme.ru/shop/item/2607" class="col-xs-6 col-md-3 col-sm-6 productcard" title="Errea Гетры футбольные с логотипом ФК Сибирь TRANSPIR " data-categories="[]" data-brand="ERREA" data-sizes="[&quot;L&quot;]" style="position: absolute; left: 0px; top: 600px;">
							<div class="productcard__panel" style="">
								<div class="productcard__image" style="">
									<img src="./Клубная форма - KLM-SPORT_files/1459948265_728c396b9cfda179f9ccea9d7bb9457a.jpg" alt="Errea Гетры футбольные с логотипом ФК Сибирь TRANSPIR ">        </div>
									<div class="productcard__caption">
									Errea Гетры футбольные с логотипом ФК Сибирь TRANSPIR         </div>
									<div class="item-price-container">
										<span class="productcard__caption__articul">SIB415</span>
		
										<del class="old-price">580&nbsp;руб</del>
										<span class="item-price">320&nbsp;руб</span>
		
										<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;350&nbsp;руб</span>
									</div>
								</div>
							</a>
							<a href="https://www.parma-kelme.ru/shop/item/25680" class="col-xs-6 col-md-3 col-sm-6 productcard" title="ADIDAS Брюки ветрозащитные" data-categories="[]" data-brand="" data-sizes="[&quot;M&quot;,&quot;S&quot;,&quot;XS&quot;]" style="position: absolute; left: 219px; top: 600px;">
								<div class="productcard__panel" style="">
									<div class="productcard__image" style="">
										<img src="./Клубная форма - KLM-SPORT_files/1538488502_16dcd2b4fa6e2d4d2ffd581658ce21d7.jpg" alt="ADIDAS Брюки ветрозащитные">        </div>
										<div class="productcard__caption">
										ADIDAS Брюки ветрозащитные        </div>
										<div class="item-price-container">
											<span class="productcard__caption__articul">G89125</span>
		
											<del class="old-price">1&nbsp;940&nbsp;руб</del>
											<span class="item-price">1&nbsp;550&nbsp;руб</span>
		
											<span class="item-price3" style="top: 5px; left: 5px; right: auto; bottom: auto;">Опт.&nbsp;&nbsp;1&nbsp;700&nbsp;руб</span>
										</div>  -->
{% endblock %}